* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: #48C5C6;
    text-align: center;
    color: white;
    padding: 10px;

}

.title {
    font-size: 26px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

section {
    padding: 20px;
    background-image: url(../images/people.jpg);
    background-size: cover;
    overflow: hidden;

}

.formcontainer {

    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}



input, select {

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: center;
    background-size: 15px;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture {

    width: 160px;
}

.description {
    text-transform: none;
    text-align: left;
    display: inline-block;
    color: white;
    max-width: 40%;
    padding: 30px;
    margin-bottom: -50px;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}

.description p {
    font-size: 16px;
}

@media screen and (max-width: 750px) {
    .container {
        max-width: 425px;
        max-height: 736px;
        margin: auto;

    }

    header {
        background-color: #48C5C6;
        text-align: center;
        color: white;
        padding: 8px;

    }

    .title {
        font-size: 13px;
    }

    .formcontainer {

        max-width: 350px;
        background-color: #FFFFFFBB;
        padding: 20px;
        float: none;
        margin: auto;
    }


    section {
        padding: 8px;
        background-size: cover;
        overflow: hidden;

    }

    input, select {

        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        margin-bottom: 5px;
    }


    .mb {
        font-size: 12px;

    }

    footer {
        margin-top: 0;
        padding-top: 10px;
    }

    .description {
        max-width: 51%;
        padding: 15px;

    }

    .picture {

        width: 110px;

    }

    .description h3 {
        font-size: 12px;
    }

    .description p {
        font-size: 10px;
    }




}